

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.landing-info-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
}

.landing-logo-container {
  border-radius: 20px;
  border: 2px solid white;
  padding: 10px;
  margin-right: 50px;
}

.landing-logo {
  width: 300px;
  height: auto;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.type {
  font-family: 'Poppins';
  font-size: 100px;
  color: white;
  margin: 0px;
}

.venture {
  font-family: 'Poppins';
  font-size: 100px;
  color: black;
  -webkit-text-stroke: 1px white;
  padding-left: 5px;
  margin: 0px;
}

.description {
  font-family: 'Poppins';
  font-size: 18px;
  color: white;
  max-width: 700px;
  margin-top: 0px;
  text-align: left;
  padding: 5px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.login-btn {
  padding: 0.8rem 2rem;
  border-radius: 999px;
  border: 2px solid white;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  background-color: white;
  transition: all 0.3s ease;
  margin-top: 0px;
  margin-right: 20px;
}

.login-btn:hover {
  transform: scale(1.05);
  border: 2px solid #fa0e70;
  background-color: black;
  color: #fa0e70;
}

.guest-btn {
  padding: 0.8rem 2rem;
  border-radius: 999px;
  border: 2px solid white;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: all 0.3s ease;
  margin-top: 0px;
  margin-right: 20px;

}

.guest-btn:hover {
  transform: scale(1.05);
  border: 2px solid yellow;
  background-color: black;
  color: yellow;
}

.info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
  color: white;
  text-align: left;
}

.info h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.highlight-pink {
  color: #ff2f92;
}

.highlight-yellow {
  color: #ffeb00;
}

.info p {
  font-size: 1.2rem;
  max-width: 600px;
  color: #ccc;
}
