@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color1: #5522ff; /* Primary */
  --color2: #ff8b2d; /* Accent */
  --color3: #32ab1f; /* Secondary */
  --text-light: white;
}

.landing-page-wrapper {
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 1000;
}

.landing-page-wrapper .landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing-page-wrapper .landing-info-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
  margin-top: 25px;
  height: 90vh;
  width: 100%;
}

.landing-page-wrapper .landing-logo-container {
  --border-gradient: linear-gradient(135deg, var(--color1), var(--color2), var(--color3));

  border-radius: 20px;
  padding: 10px;
  margin-right: 50px;
  background:
    linear-gradient(white, white) padding-box,
    var(--border-gradient) border-box;
  border: 3px solid transparent;
}

.landing-page-wrapper .landing-logo {
  width: 300px;
  height: auto;
}

.landing-page-wrapper .name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.landing-page-wrapper .type {
  font-size: 100px;
  color: var(--color1);
  margin: 0px;
}

.landing-page-wrapper .venture {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 3px var(--color1);
  padding-left: 5px;
  margin: 0px;
}

.landing-page-wrapper .description {
  font-size: 18px;
  color: var(--color1);
  max-width: 700px;
  margin-top: 0px;
  text-align: left;
  padding: 5px;
}

.landing-page-wrapper .btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.landing-page-wrapper .login-btn {
  padding: 0.8rem 2rem;
  border-radius: 999px;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-light);
  background-color: var(--color2);
  transition: all 0.3s ease;
  margin-top: 0px;
  margin-right: 20px;
}

.landing-page-wrapper .login-btn:hover {
  transform: scale(1.05);
  border: 3px solid var(--color2);
  color: var(--color2);
  background-color: transparent;
}

.landing-page-wrapper .guest-btn {
  padding: 0.8rem 2rem;
  border-radius: 999px;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-light);
  background-color: var(--color3);
  transition: all 0.3s ease;
  margin-top: 0px;
  margin-right: 20px;
}

.landing-page-wrapper .guest-btn:hover {
  transform: scale(1.05);
  border: 3px solid var(--color3);
  color: var(--color3);
  background-color: transparent;
}

.landing-page-wrapper .landing-info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 0 10%;
  margin-bottom: 50px;
  height: 90vh;
  width: 100%;
}

.landing-page-wrapper .tagline-1 {
  font-size: 50px;
  color: var(--color1);
  margin: 0 0 5px 125px;
}

.landing-page-wrapper .tagline-2 {
  font-size: 75px;
  color: var(--color1);
  margin: 0 0 10px 125px;
}

.landing-page-wrapper .highlight-pink {
  color: var(--color2);
  font-size: 75px;
}

.landing-page-wrapper .highlight-yellow {
  color: var(--color3);
  font-size: 100px;
}

.landing-page-wrapper .description-2 {
  font-size: 20px;
  max-width: 600px;
  color: var(--color1);
  margin-left: 125px;
}

.landing-page-wrapper .landing-info-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 50px;
  height: 90vh;
  width: 100%;
}

.landing-page-wrapper .tagline-3 {
  font-size: 50px;
  color: var(--color1);
  margin: 0 25px 5px 0;
}

.landing-page-wrapper .tagline-4 {
  font-size: 75px;
  color: var(--color1);
  margin: 0 25px 10px 0;
}

.landing-page-wrapper .description-3 {
  font-size: 20px;
  max-width: 600px;
  color: var(--color1);
  margin-right: 25px;
  text-align: right;
}

.landing-page-wrapper .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding: 0 10%;
  margin-bottom: 50px;
  height: 90vh;
  width: 100%;
}

.landing-page-wrapper .pioneer-image {
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  margin-bottom: 50px;
}
