@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color1: #FFFFFF; /* Primary */
  --color2: #FF1414; /* Accent */
  --color3: #0029FF; /* Secondary */
  --color4: #a200ff; /* Tertiary */
  --text-light: white;
  --transparent: rgba(255, 255, 255, 0.5);
  --muted: black; 
}

.landing-page-wrapper {
  font-family: "Poppins", "BBH Sans Hegarty";
  width: 100%;
  z-index: 1000;
}

.landing-page-wrapper .landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing-page-wrapper 
.landing-info-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 50px;
  height: fit-content;
  width: 100%;
}

.landing-page-wrapper .landing-logo-container {
  margin-right: 40px;
  margin-left: 40px;
}

.landing-page-wrapper .landing-logo {
  width: 500px;
  height: auto;
}

.landing-page-wrapper .name-buttons {
  padding: 30px;
  margin-left: 40px;
  width: 100%;
  max-width: 600px;
}

.landing-page-wrapper .name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.landing-page-wrapper .type {
  font-size: 75px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0px;
  letter-spacing: 2px;
}

.landing-page-wrapper .venture {
  font-size: 75px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
  padding-left: 5px;
  margin: 0px;
  letter-spacing: 2px;
}

.landing-page-wrapper .description {
  font-size: 16px;
  color: var(--text-light);
  max-width: 600px;
  margin-top: 0px;
  text-align: left;
  padding: 5px;
}

.landing-page-wrapper .btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.landing-page-wrapper .login-btn,
.landing-page-wrapper .guest-btn {
  padding: 15px 25px;
  border-radius: 999px;
  border: 0px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--text-light); 
  margin-top: 0px;
  margin-right: 20px;

  --border-gradient: linear-gradient(135deg, #ff1414, purple, #0029ff); 
  
  background: var(--border-gradient) border-box; 
  border: 5px solid transparent;  
  transition: all 0.3s ease;
}

.landing-page-wrapper .guest-btn:hover,
.landing-page-wrapper .login-btn:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.landing-page-wrapper
.landing-features img {
  width: 150px;
  height: auto;
}

.landing-page-wrapper
.landing-features p {
  font-size: 16px;
}

.landing-features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: fit-content;
  width: 100%;
  gap: 20px;
}

.feature-items {
  padding: 10px;
  width: 100%;
  max-width: 200px;
  height: fit-content;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid white;
  border-radius: 16px; */
}

.feature-items-highlight {
  width: 100%;
  max-width: fit-content;
  height: fit-content;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid white;
  border-radius: 16px; */
}

.feature-items:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.badge-image-highlight img {
  width: 400px !important;
}

.feature-text-highlight {
  padding: 10px;
}

.landing-page-wrapper .landing-info-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.landing-page-wrapper .landing-info-2-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 30px;
  width: 100%;
}

.landing-page-wrapper .tagline-1 {
  font-size: 50px;
  color: #FFFFFF;
  margin: 0 0 5px 100px;
}

.landing-page-wrapper .tagline-2 {
  font-size: 75px;
  color: #FFFFFF;
  margin: 0 0 10px 100px;
}

.landing-page-wrapper .highlight-pink {
  --border-gradient: linear-gradient(135deg, #ff1414, purple, #0029ff);
  background-image: var(--border-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  font-size: 75px;
  font-weight: 900;
  letter-spacing: 3px;
}

.landing-page-wrapper .highlight-yellow {
  --border-gradient: linear-gradient(135deg, #ff1414, purple, #0029ff);
  background-image: var(--border-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  font-size: 100px;
  font-weight: 900;
  letter-spacing: 3px;
}

.landing-page-wrapper .description-2 {
  font-size: 20px;
  max-width: 600px;
  color: #FFFFFF;
  margin-left: 100px;
}

.landing-page-wrapper .landing-info-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 90vh;
}

.landing-page-wrapper .pioneers {
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.landing-page-wrapper .landing-info-3-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #FFFFFF;
  margin: 0%;
  padding: 0%;
}

.landing-page-wrapper .tagline-3 {
  font-size: 90px;
  letter-spacing: 3px;
  margin: 50px 0px 10px 0px;
}

.landing-page-wrapper .description-3 {
  margin: 10px 0px 10px 0px;
  padding: 0%;
  font-size: 20px;
  max-width: 600px;
  color: #FFFFFF;
  text-align: center;
}

.landing-page-wrapper .highlight-pink-letters {
  --border-gradient: linear-gradient(135deg, #ff1414, purple, #0029ff);
  background-image: var(--border-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  font-size: 90px;
  font-weight: 900;
}

.landing-page-wrapper .highlight-yellow-lessons {
  --border-gradient: linear-gradient(135deg, #ff1414, purple, #0029ff);
  background-image: var(--border-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
  font-size: 90px;
  font-weight: 900;
}

.landing-page-wrapper .landing-info-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 50px;
  height: 90vh;
  width: 100%;
}

.landing-page-wrapper .tagline-5 {
  font-size: 50px;
  color: #FFFFFF;
  margin: 0 0 5px 125px;
}

.landing-page-wrapper .tagline-6 {
  font-size: 75px;
  color: #FFFFFF;;
  margin: 0 0 10px 125px;
}

.landing-page-wrapper .description-4 {
  font-size: 20px;
  max-width: 600px;
  color: #FFFFFF;
  margin-left: 125px;
}

.landing-page-wrapper .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding: 0 10%;
  margin-bottom: 50px;
  height: 90vh;
  width: 100%;
}