.aurora-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: black;
}

.aurora-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
