.App {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-content {
  position: relative;
  z-index: 10;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  filter: brightness(10%);
}
